{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load i18n %}
{% load static %}


<!DOCTYPE html>
<html lang="ru-ru">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            padding-top: 5rem;
        }

        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }
        .mt-5, .my-5 {
            margin-top: 3rem!important;
        }
        h1, h1 {
            font-size: 2.5rem;
        }
        .nav-link {
            display: block;
            padding: .5rem 1rem;
        }

    </style>
    <title>{% translate "Task manager" %}</title>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}">{% trans 'Task Manager' %}</a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users_list' %}">{% trans 'Users' %}<span
                            class="sr-only">(current)</span></a>
                </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'statuses_list' %}">{% trans 'Statuses' %}<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'labels_list' %}">{% trans 'Labels' %}<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tasks_list' %}">{% trans 'Tasks' %}<span
                            class="sr-only">(current)</span></a>
                </li>
            {% endif %}
            </ul>
        </div>
        <div class="col-6 col-md-2">
            {% if request.user.is_authenticated %}
            <div class="btn-group" data-toggle="buttons">
                <a class="btn btn-outline-secondary" >{{ user.last_name }}:</a>
                <a href="{% url 'logout' %}" class="btn btn-link" role="button">{% translate "Log out" %}</a>
                </div>
            {% else %}
            <div class="btn-group" data-toggle="buttons">
                <a href="{% url 'login' %}" class="btn btn-link" role="button">{% translate "Login" %}</a>
                <a href="{% url 'user_create' %}" class="btn btn-link" role="button">{% translate "Registration" %}</a>
            </div>
            {% endif %}
        </div>
    </nav>
</head>

    <main role="main" class="container">
        {% if messages %}
            <div class="container">
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'warning' %} alert-warning
                                      {% elif message.tags == 'success' %} alert-success
                                      {% else %} alert-primary
                                      {% endif %}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </main>


    {% block content %}

    {% endblock %}
</body>

</html>