{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% load i18n %}
{% load static %}


<!DOCTYPE html>
<html lang="ru-ru">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            padding-top: 5rem;
        }

        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }
        .mt-5, .my-5 {
            margin-top: 3rem!important;
        }
        h1, h1 {
            font-size: 2.5rem;
        }
    </style>
    <title>{% translate "Task manager" %}</title>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'home' %}">{% trans 'Task Manager' %}</a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users_list' %}">{% trans 'Users' %}<span
                            class="sr-only">(current)</span></a>
                </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="">{% trans 'Statuses' %}<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">{% trans 'Labels' %}<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">{% trans 'Tasks' %}<span
                            class="sr-only">(current)</span></a>
                </li>
            {% endif %}
            </ul>
        </div>
        <div class="col-6 col-md-2">
            {% if request.user.is_authenticated %}
            <div class="btn-group" data-toggle="buttons">
                <a class="btn btn-outline-secondary" >{{ user.last_name }}:</a>
                <a href="{% url 'logout' %}" class="btn btn-link" role="button">{% translate "Log out" %}</a>
                </div>
            {% else %}
            <div class="btn-group" data-toggle="buttons">
                <a href="{% url 'login' %}" class="btn btn-link" role="button">{% translate "Log in" %}</a>
                <a href="{% url 'user_create' %}" class="btn btn-link" role="button">{% translate "Sing up" %}</a>
            </div>
            {% endif %}
        </div>
    </nav>
</head>

<body class="d-flex flex-column h-100">
    {% block content %}
    <div class="container">
        <h1 class="mt-5">{% trans 'Educational project' %}</h1>
        <p class="lead">{% trans 'Nothing at all incomprehensible' %}</p>
        <p>Back to <a href="/docs/4.5/examples/sticky-footer/">the default sticky footer</a> minus the navbar.</p>
    </div>
    {% endblock %}
</body>

</html>