{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_css %}


{% block content %}
<style>
  .nav-link {
      display: block;
      padding: .5rem 1rem;

  }
  h2 {
      display: block;
      padding: .5rem 1rem;
  }
  .form-control {
    
  }
</style>

<div class="mb-3 text-left">
  <h2>{% translate "Tasks" %}</h2>
</div>

<a class="nav-link" href="{% url 'task_create' %}">{% translate "Create task" %}</a>

<div class="card mb-3">
  <div class="card-body bg-light">
    <form class="form-inline center" method="get">
      <div class="form-group">
        <label for="id_status">{% translate "Statuses" %}</label>
        <div class="ml-2 mr-3">
          <select name="Status" class="form-control" title="{{ filter.form.status }}"></select>
        </div>
      </div>
      <div class="form-group">
        <label for="id_status">{% translate "Executor" %}</label>
        <div class="ml-2 mr-3">
          <select name="Executor" class="form-control" title="{{ filter.form.executor }}"></select>
        </div>
      </div>
      <div class="form-group">
        <label for="id_status">{% translate "Labels" %}</label>
        <div class="ml-2 mr-3">
          <select name="Labels" class="form-control" title="{{ filter.form.labels }}"></select>
      </div>
        </div>
          {{ filter.form.self_task }} {% translate 'My tasks only' %}

        <div class="row">
          <div class="col-md-4 mb-3">
            {{ filter.form.label.label }}
            {{ filter.form.label }}
          </div>
        <div class="col-auto mx-auto"><br>
          <button class="btn btn-primary" type="submit">{% translate "Show" %}</button>
        </div>
      </div>
    </form>
  </div>
</div>


<table class="table table-striped border">
    <thead>
      <tr>
        <th>{% translate "ID" %}</th>
        <th>{% translate "Name" %}</th>
        <th>{% translate "Status" %}</th>
        <th>{% translate "Author" %}</th>
        <th>{% translate "Executor" %}</th>
        <th>{% translate "Created date" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td>{{ task.id }}</td>
          <td><a href="{% url 'task_show' task.pk %}">{{ task.name }}</a></td>
          <td>{{ task.status}}</td>
          <td>{{ task.author}}</td>
          <td>{{ task.executor}}</td>
          <td>{{ task.time_create|date:'d.m.Y' }}</td>
          <td>
              <a href="{% url 'task_update' task.pk %}">{% translate "Update" %}</a>
              <br>
              <a href="{% url 'task_delete' task.pk %}">{% translate "Delete" %}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
</table>

{% endblock %}