{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_css %}


{% block content %}

<div class="mb-3 text-left">
  <h2>{% translate "Tasks" %}</h2>
</div>
<a href="{% url 'task_create' %}" class="btn btn-outline-dark" data-mdb-ripple-color="dark">{% translate "Create task" %}</a>
<div class="card mb-3">
  <div class="card-body bg-light">
      <form class="form-inline center" method="get">
        {% bootstrap_form filter.form field_class="ml-2 mr-3 d-flex align-items-center" %}
        <button class="btn btn-primary" type="submit">{% translate "Show" %}</button>
      </form>
  </div>
</div>


<table class="table table-striped border">
    <thead>
      <tr>
        <th>{% translate "ID" %}</th>
        <th>{% translate "Name" %}</th>
        <th>{% translate "Status" %}</th>
        <th>{% translate "Author" %}</th>
        <th>{% translate "Executor" %}</th>
        <th>{% translate "Created date" %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
        <tr>
          <td>{{ task.id }}</td>
          <td><a href="{% url 'task_show' task.pk %}">{{ task.name }}</a></td>
          <td>{{ task.status}}</td>
          <td>{{ task.author}}</td>
          <td>{{ task.executor}}</td>
          <td>{{ task.time_create|date:'d.m.Y' }}</td>
          <td>
              <a href="{% url 'task_update' task.pk %}">{% translate "Update" %}</a>
              <br>
              <a href="{% url 'task_delete' task.pk %}">{% translate "Delete" %}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
</table>

{% endblock %}